<!DOCTYPE html>
<html>
  <head>
    <title>🎤 Karaoke requests</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1">
  </head>
  <body ng-app="karaoke" ng-controller="index as index">
    <header>
      <input type="text" ng-model="query" ng-model-options="{ debounce: 300 }" placeholder="Search by artist or title…" ng-change="showQueue = false" />
    </header>

    <form class="modal ng-cloak" name="request" ng-show="index.confirm" ng-submit="index.request(index.confirm)">
      <h1>{{index.confirm.title}}</h1>
      <h2>by {{index.confirm.artist}}</h2>
      <input type="text" ng-model="index.singer" placeholder="Enter your name…" required />
      <br/>
      <button ng-disabled="!request.$valid">Request</button>
      <p><a ng-click="index.confirm = null">Cancel</a></p>
    </form>

    <main class="ng-cloak">
      <div class="queue" ng-show="index.songs" ng-click="showQueue = !showQueue">
        <h4>
          <code ng-switch="showQueue">
            <span ng-switch-when="true">▾</span>
            <span ng-switch-default>▸</span>
          </code>
          {{index.queue.length}} in queue
        </h4>
        <ul ng-show="showQueue">
          <li ng-repeat="request in index.queue">
            <h3>
              {{::request.song.title}}
              <small>{{::request.song.artist}} <span ng-show="song.duo">👥</span></small>
            </h3>
            <small>{{::request.singer}}</small>
          </li>
        </ul>
      </div>

      <ul>
        <li ng-repeat="song in index.songs | filter:{search:query} | limitTo:500" ng-click="index.confirm = song">
          <h3>
            {{::song.title}}
            <small>{{::song.artist}} <span ng-show="song.duo">👥</span></small>
          </h3>
          <small>{{::song.year}}</small>
        </li>
      </ul>

      <h2 ng-hide="index.songs">🎵 Loading</h2>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-touch.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script>
      (function() {
        angular
          .module('karaoke', ['ngAnimate', 'ngTouch', 'firebase'])
          .controller('index', Index);

        function Index($http, $firebaseArray) {
          this.singer = localStorage.singer;
          this.queue = $firebaseArray(new Firebase('https://blistering-inferno-5505.firebaseio.com/queue'));

          var csv = 'e7ae9ce86b75e42f72cb27b0ca2b31c0.csv';
          $http.get(csv).success(function(data) {
            this.songs = data.split('\n').slice(1).map(function(line) {
              if (!line) return;
              var values = line.split(';'),
                  title = values[0].replace(/"/g, ''),
                  artist = values[1].replace(/"/g, '');

              return {
                search: String([title, artist]),
                title: title,
                artist: artist,
                year: values[2],
                duo: values[3] === '1',
              };
            });
          }.bind(this));
        }

        Index.prototype.request = function(song) {
          localStorage.singer = this.singer;
          this.queue.$add({ song: song, singer: this.singer });
          this.confirm = null;
        };
      })();
    </script>
  </body>
</html>
