<!DOCTYPE html>
<html>
  <head>
    <title>Karaoke</title>
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body ng-app="karaoke" ng-controller="index as index">
    <header>
      <input ng-model="query" placeholder="Search by artist or title" autofocus />
    </header>
    <ul class="ng-cloak">
      <li ng-hide="index.songs">🎵 Loading</li>
      <li ng-repeat="song in index.songs | filter:query | limitTo:1000" ng-click="index.request(song)">
        <h3>
          {{song.title}}
          <small>{{song.artist}} <span ng-show="song.duo">👥</span></small>
        </h3>
        <small>{{song.year}}</small>
      </li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script>
      (function() {
        angular
          .module('karaoke', [])
          .controller('index', Index);

        function Index($http) {
          var csv = 'e7ae9ce86b75e42f72cb27b0ca2b31c0.csv';
          $http.get(csv).success(function(data) {
            this.songs = data.split('\n').slice(1).map(function(line) {
              if (!line) return;
              var values = line.split(';'),
                  title = values[0].replace(/"/g, ''),
                  artist = values[1].replace(/"/g, '');

              return {
                title: title,
                artist: artist,
                year: values[2],
                duo: values[3] === '1',
              };
            });
          }.bind(this));
        }

        Index.prototype.request = function(song) {
          sessionStorage.name = sessionStorage.name || prompt('Who wants to sing?');
          if (confirm('Request ' + song.title + ' for ' + sessionStorage.name + '?')) {
          } else {
            delete sessionStorage.name;
          }
        };
      })();
    </script>
  </body>
</html>
