.ng-cloak {
  display: none !important
}

body, input, button {
  font: medium/150% sans-serif;
}

body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

*[ng-click] {
  -webkit-tap-highlight-color: transparent;
}  

header {
  position: fixed;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0));
}

input[type=text], button {
  width: 100%;
  font-size: large;
  box-sizing: border-box;
  padding: 5px;
  border: solid 1px hsla(0, 0%, 0%, .1);
}

button {
  padding: 10px 5px;
  background-color: hsla(210, 25%, 90%, 1);
}

main {
  padding-top: 4rem;
}

h2, h4 {
  text-align: center;
  padding: .5em 0;
}

.queue {
  background-color: hsla(210, 25%, 90%, 1);
}
.queue ul {
  border-bottom: dashed 2px hsla(0, 0%, 0%, .1);
  max-height: 2000px;
}
.queue ul.ng-hide-add, .queue ul.ng-hide-remove {
  transition: all .3s;
  overflow: hidden;
}
.queue ul.ng-hide {
  max-height: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  overflow: hidden;
}

li button {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-top: .5em;
}

li + li {
  border-top: solid 1px hsla(0, 0%, 0%, .1);
}

h3 small {
  display: block;
}

small {
  color: hsla(0, 0%, 0%, .4);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: hsla(0, 0%, 100%, .8);
  padding: 10px;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
}
.modal.ng-hide-add, .modal.ng-hide-remove {
  transition: all .3s;
}
.modal.ng-hide {
  transform: translateY(10px);
  opacity: 0;
}
